<main>
  {{> header}}

  <section id="profile">
    <div id="basic-info">
      <div id="profile-left">
        <img id="current-photo" src="/img/avatar/{{user.avatar}}" alt="">
      </div>
      <div id="profile-right">
        <h1>{{toUpperCase user.username}}</h1>
        <p>Real Name: {{user.realname}}</p>
        <p>HQ: {{user.hq}}</p>
        <p>Morality: {{user.morality}}</p>
        <p>Bio: {{user.bio}}</p>
      </div>
    </div>

    <div id="skills">
      <h2>SKILLS & POWERS</h2>
      {{#each user.skills}}
      {{#if this.chosen}}
      <div class="one-skill">
        <img src="/img/svg/{{this.name}}.svg" alt="">
        <p>{{this.desc}}</p>
      </div>
      {{/if}}
      {{/each}}
    </div>
  </section>


</main>