<main>
  {{> header}}

  <div id="form-wrapper">
    <form id="edit-profile" action="/update" method="POST" enctype="multipart/form-data">
      <h1>{{user.username}}</h1>
      <div id="edit-basic">
        <div id="edit-left">
          <label for="edit-avatar">
            <img id="current-photo" src="/img/avatar/{{user.avatar}}" alt="">
            <p>Click to Change Avatar</p>
          </label>
          <input id="edit-avatar" name="avatar" type="file" accept="image/*">
        </div>
        <div id="edit-right">
          <div class="form-item">
            <label for="realname">Real Name: </label>
            <input name="realname" id="realname" type="text" placeholder="Reveal your true identity"
              value="{{user.realname}}">
          </div>
          <div class="form-item">
            <label for="hq">HQ: </label>
            <input name="hq" id="hq" type="text" placeholder="Where do you operate from?" value="{{user.hq}}">
          </div>
          <label for="morality">Moral Alignment: </label>
          <div class="form-item moral-wrapper">
            <select name="morality" id="morality">
              <option value="">Select Your Morality Below...</option>
              <option value="Good | Lawful" {{moral.gl}}> Good | Lawful</option>
              <option value="Good | Neutral" {{moral.gn}}>Good | Neutral</option>
              <option value="Good | Chaotic" {{moral.gc}}>Good | Chaotic</option>
              <option value="Neutral | Lawful" {{moral.nl}}>Neutral | Lawful</option>
              <option value="True Neutral" {{moral.nn}}>True Neutral</option>
              <option value="Neutral | Chaotic" {{moral.nc}}>Neutral | Chaotic</option>
              <option value="Evil | Lawful" {{moral.el}}>Evil | Lawful</option>
              <option value="Evil | Neutral" {{moral.en}}>Evil | Neutral</option>
              <option value="Evil | Chaotic" {{moral.ec}}>Evil | Chaotic</option>
            </select>
          </div>
          <div class="form-item">
            <label for="bio">Bio: </label>
            <textarea name="bio" id="" cols="30" rows="5" placeholder="Give a brief description about yourself">{{user.bio}}</textarea>
          </div>
        </div>
      </div>

      <div class="form-item checkboxes">
        <h2>CHOOSE SKILLS & POWERS</h2>
        <div class="group">
          {{#each user.skills}}
          <input name="{{this.name}}" id="{{this.name}}" type="checkbox" value="yes" {{#if this.chosen }}checked{{/if}}>
          <label for="{{this.name}}">
            <img src="/img/svg/{{this.name}}.svg" alt="">
            <p>{{this.desc}}</p>
          </label>
          {{/each}}
        </div>
      </div>

      <h2>APPEARANCES</h2>

      <div class="form-item first-a">
        <label for="origin">1st Appearance:</label>
        <input name="origin" id="origin" type="text" placeholder="Where'd you make your debut?" value="{{user.origin}}">
      </div>

      <div id="story-link">
        <a href="/stories">
          <i class="material-icons">library_books</i>
          Other Appearances
        </a>
      </div>

      <button type="submit" id="update-profile">Update Character!</button>

    </form>

    <h2>TAKE THE EASY WAY OUT!</h2>

    <div id="delete-link">
      <a href="/delete">
        <span>Delete Character</span>
      </a>
    </div>
  </div>


</main>