<nav>
  <a href="/">
    <img src="{{img.icon}}">
  </a>
  <a href="">
    <p>Sign In</p>
  </a>
  <a href="">
    <p>Sign Up</p>
  </a>
</nav>

<form action="/update" method="POST" enctype="multipart/form-data">
  <h1>Update Character</h1>
  <div class="form-item">
    <label for="realname">Real Name: </label>
    <input name="realname" id="realname" type="text" placeholder="Reveal your true identity" value="{{user.realname}}">
  </div>
 
  <div class="form-item">
    <label for="avatar">Choose your Avatar:</label>
    <input id="avatar" name="avatar" type="file" accept="image/*">
  </div>

  <div class="form-item">
    <label for="location">Location: </label>
    <input name="location" id="location" type="text" placeholder="Where do you operate from?">
  </div>
  <div class="form-item">
    <label for="origin">1st Appearance:</label>
    <input name="origin" id="origin" type="text" placeholder="Where'd you make your debut?">
  </div>
  <div class="form-item">
    <label for="morality">Moral Alignment: </label>
    <select name="morality" id="morality">
      <option value="">Select Your Morality Below...</option>
      <option value="Good | Lawful" {{moral.gl}}> Good | Lawful</option>
      <option value="Good | Neutral"  {{moral.gn}}>Good | Neutral</option>
      <option value="Good | Chaotic"  {{moral.gc}}>Good | Chaotic</option>
      <option value="Neutral | Lawful"  {{moral.nl}}>Neutral | Lawful</option>
      <option value="True Neutral"  {{moral.nn}}>True Neutral</option>
      <option value="Neutral | Chaotic"  {{moral.nc}}>Neutral | Chaotic</option>
      <option value="Evil | Lawful"  {{moral.el}}>Evil | Lawful</option>
      <option value="Evil | Neutral"  {{moral.en}}>Evil | Neutral</option>
      <option value="Evil | Chaotic"  {{moral.ec}}>Evil | Chaotic</option>
    </select>
  </div>

  <div class="form-item">
    <label for="gen">Genius IQ</label>
    <input name="gen" type="checkbox" value="Genius IQ" 
    {{#if user.skills.gen }}checked{{/if}}>
    
    <label for="str">Super Strength</label>
    <input name="str" type="checkbox" value="Super Strength"
    {{#if user.skills.str }}checked{{/if}}>
    
    <label for="spe">Super Speed</label>
    <input name="spe" type="checkbox" value="Super Speed"
    {{#if user.skills.spe }}checked{{/if}}>
    
    <label for="sen">Super Senses</label>
    <input name="sen" type="checkbox" value="Super Senses"
    {{#if user.skills.sen }}checked{{/if}}>
    
    <label for="hea">Healing</label>
    <input name="hea" type="checkbox" value="Healing"
    {{#if user.skills.hea }}checked{{/if}}>
    
    <label for="fly">Flying</label>
    <input name="fly" type="checkbox" value="Flying"
    {{#if user.skills.fly }}checked{{/if}}>
    
    <label for="tou">Super Toughness</label>
    <input name="tou" type="checkbox" value="Super Toughness"
    {{#if user.skills.tou }}checked{{/if}}>
    
    <label for="psy">Psychic</label>
    <input name="psy" type="checkbox" value="Psychic"
    {{#if user.skills.psy }}checked{{/if}}>
    
    <label for="mag">Magic</label>
    <input name="mag" type="checkbox" value="Magic"
    {{#if user.skills.mag }}checked{{/if}}>
    
    <label for="ele">Elemental Control</label>
    <input name="ele" type="checkbox" value="Elemental Control"
    {{#if user.skills.ele }}checked{{/if}}>
  </div>


  <div class="form-item">
    <label for="bio">Bio: </label>
    <textarea name="bio" id="" cols="30" rows="10" placeholder="Give a brief description about yourself"></textarea>
  </div>

  <button type="submit">Update!</button>

</form>

