{{> header }}
<h1>Post Area</h1>


<form action="/posts" method="POST">

  <p>Speak your mind here...</p>
  <textarea name="message" cols="40" rows="10"></textarea>

  <button>Submit Post</button>

</form>


{{#if message}}
<div class="error-message">{{ message }}</div>
{{/if}}

{{#each allPosts}}

<p>{{this.message}}</p>

<p>{{this.replies.length}} Responses</p>

<button>
  <a href="/posts/{{this._id}}/reply">Leave a reply</a>
</button>


{{#if this.owned}}

<form action="/deletepost/{{this._id}}" method="POST">
  <button class="btn">Delete This Post</button>
</form>
{{/if}}

{{#if this.edited}}
<p><em>(Edited)</em></p>
{{/if}}

{{/each}}